In [2]:
import pandas as pd

In [3]:
df1=pd.read_csv("asymmetric_crypto_dataset.csv")

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 2 columns):
 #   Column         Dtype
---  ------         -----
 0   byte_sequence  object
 1   algorithm      object
dtypes: object(2)
memory usage: 76.3+ MB

In [5]:
df1.head()

                                       byte_sequence algorithm
0  E4 30 28 99 4D E1 40 13 A9 91 72 5C 72 67 1D 3...  RSA-4096
1  2A F0 F7 A9 80 4F 82 BC 3F 37 90 B1 F9 91 D5 C...  RSA-4096
2  ED CF E4 CA 19 63 34 7F 5B 37 42 2C 81 4D F4 D...  RSA-4096
3  2B 17 2B 30 58 10 2E B7 0C 04 6D 6B EA 06 61 0...       DSA
4  19 D1 E9 81 A5 A5 63 AB B4 C8 68 E0 BA C9 B8 5...  RSA-2048

In [6]:
df2=pd.read_csv("symmetric_crypto_dataset1.csv")

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 2 columns):
 #   Column         Dtype
---  ------         -----
 0   byte_sequence  object
 1   algorithm      object
dtypes: object(2)
memory usage: 76.3+ MB

In [8]:
df2.head()

                                       byte_sequence algorithm
0  f9 71 86 45 99 ff 17 17 91 23 84 13 2a b2 1d e...  Blowfish
1  90 d0 c7 1f 65 77 08 12 79 45 d2 2b 99 19 c1 0...       DES
2  8e c9 ca 0d 0c 73 07 d2 15 d3 94 7f fd 25 84 1...  Blowfish
3  cd d6 88 68 03 42 61 0b 53 3e 54 1d 69 74 8d a...   AES-256
4  8a d0 b8 f2 bc 6c 27 cd 4d a2 50 cc 96 48 43 b...   AES-256

In [9]:
df3=pd.read_csv("stream_cipher_dataset.csv")

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 2 columns):
 #   Column         Dtype
---  ------         -----
 0   byte_sequence  object
 1   algorithm      object
dtypes: object(2)
memory usage: 76.3+ MB

In [11]:
df3.head()

                                       byte_sequence algorithm
0  82 5e ec 25 83 cb c4 ce f1 38 a3 f7 63 45 64 4...   Salsa20
1  ad 14 fe 89 be 3f 81 03 c5 80 39 2a f2 a9 f8 a...  ChaCha20
2  43 c2 44 df d4 da 6a c6 ba bf 86 e3 e6 1f 4c b...   Salsa20
3  f8 9e f7 83 85 01 07 3d 2e 96 2e 11 30 55 3b 8...   Salsa20
4  9b cf 67 42 9f 3b c5 88 c7 fc cb 4f de e1 53 f...   Salsa20

In [12]:
frames=[df1,df2,df3]

In [13]:
dataset=pd.concat(frames)

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15000000 entries, 0 to 4999999
Data columns (total 2 columns):
 #   Column         Dtype
---  ------         -----
 0   byte_sequence  object
 1   algorithm      object
dtypes: object(2)
memory usage: 343.3+ MB

In [14]:
#dataset['byte_sequence'].nunique()

:

:

In [15]:
dataset.to_csv('output.csv', index=False)